.footer {
    background-color: rgb(21, 52, 72);
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(223, 208, 184, 0.9);
    text-align: center;
}

.footer i {
    color: red
}

