* {
  margin: 0%;
  box-sizing: content-box;
  font-family: 'DM Serif Text';
}

.body {
    background-color: rgba(211, 211, 211, 0.7);
    background-image: url(./main-pic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containers {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1280px) {
  .containers {
   flex-direction: column;
   gap: 50px;
 }
}
